---
import { getCollection, render } from "astro:content";
import Article from "../../layouts/Article.astro";

export async function getStaticPaths() {
  const games = await getCollection("games");
  return games.map((game) => ({
    params: { slug: game.id },
    props: { game },
  }));
}

const { game } = Astro.props;
const { Content } = await render(game);
---

<Article {...game.data} title={game.data.title || game.id}>
  <Content />

  {
    game.data.related && (
      <footer>
        <p>Related: {game.data.related}</p>
      </footer>
    )
  }
</Article>
